:root {
    font-size: 62.5%;

    --blue: hsl(216, 64%, 48%);
    --light-blue: hsl(216, 70%, 71%);
    --light-blue-opt: hsla(216, 70%, 71%, 0.712);
    --orange: hsl(36, 94%, 57%);
    --light-orange: hsl(36, 89%, 75%);
    --green: hsl(76, 56%, 70%);
    --dark-green: hsl(76, 29%, 59%);
    --red: hsl(0, 100%, 56%);
  }

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0 0 .5rem hsl(0, 2%, 35%);
    background-color: var(--light-orange);
}
#header .header_left {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 12%;
}
#menu_toggle {
    width: 4rem;
    height: 4rem;
    background-color: var(--orange);
    border-radius: 5px;
    text-align: center;
}
#menu_toggle .icon-menu_toggle {
    font-size: 3rem;
}
#header .header_left .logo {
    position: relative;
    z-index: 1;
}
#header .header_left .logo::before {
    content: '';
    width: 50%;
    height: 100%;
    background-color: var(--light-blue-opt);
    position: absolute;
    z-index: -1;
    top: .8rem;
    right: -1.9rem;
}
#header .header_left .logo::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--dark-green);
    position: absolute;
    z-index: -2;
    top: -.6rem;
    right: -1.3rem;
}
#header .header_left .logo h1 {
    font: 200 3rem 'Poppins', sans-serif;
}
#header .header_left .logo span {
    color: var(--orange);
}
#header .header_right{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8%;
}
#header .header_right #notifications {
    width: 4rem;
    height: 4rem;
    background-color: #FFF;
    border: solid #000 1px;
    border-radius: 5px;
}
#header .header_right #user_name {
    font-size: 2rem;
}
#header .header_right #user_menu_toggle {
    width: 4rem;
    height: 4rem;
    background-color: #FFF;
    border: solid #000 1px;
    border-radius: 50%;
}

main {
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
main div {
    width: 40%;
    height: 35%;
    /* border: solid black 1px; */
    border-radius: 5px;
    box-shadow: 0 0 .5rem hsl(0, 2%, 35%);
}
main div a {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    place-content: center;
    gap: 15%;
}
main div a h3 {
    font: 400 3rem 'Poppins', sans-serif;
}
main div a i {
    font-size: 7rem;
    text-align: center;
}


footer {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 .5rem hsl(0, 2%, 35%);
    background-color: var(--light-blue);
}
footer p {
    font: 200 1.6rem 'Poppins', sans-serif;
}